body {
  font-family: "Inter", sans-serif;
  margin: 0%;
}

section {
  margin-bottom: 100px;
}

.top-image {
  background-image: url("images/donation15.jpeg");
  width: 100%;
  height: 669px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.top-image-text {
  color: white;
  height: 320px;
  width: 826px;
  padding-left: 307px;
  padding-top: 174x;
}
.top-image-text h1 {
  font-size: 65px;
  font-weight: bold;
}
.top-image-text p {
  margin-bottom: 50px;
}
.black-gradient {
  width: 1440px;
  height: 669px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  padding-top: 100px;
}

.button {
  text-decoration: none;
  color: white;
  font-weight: 800;
  background-color: #ff5959;
  border-radius: 5px;
  padding: 15px 12px 15px 12px;
}

#Donate {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.bot-pad {
  margin-bottom: 80px;
}
.amount {
  padding-left: 530px;
  margin-bottom: 50px;
}
.donate-amount {
  margin-left: 10px;
  text-decoration: none;
  color: #707070;
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
.selected {
  color: #ff5959;
  border: 1px solid #ff5959;
  background-color: #ffeeee;
}
.other-amount {
  width: 500px;
  height: 20px;
  border-top: white;
  border-left: white;
  border-right: white;
  border-right: #fafafa;
  margin-left: 480px;
  text-align: center;
  margin-bottom: 30px;
}
#center {
  margin-left: 675px;
}
.text-box {
  text-align: center;
  width: 691px;
  padding-left: 400px;
}

.plans {
  display: flex;
  
  padding-left: 200px;
  padding-right: 200px;
}
.plan1 {
  background-color: #edf5f6;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.plan2 {
  background-color: #ffeeee;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.plan3 {
  background-color: #fff4d6;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

#plan-divider{
  border: 10px solid white;
}

footer {
  background-color: black;
  text-align: center;
}

footer h1 {
  color: #ff5959;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 800;
  font-family: "Lobster", sans-serif;
}

footer p {
  color: #f0f0f0;
  padding-bottom: 30px;
  font-weight: 600;
  margin-bottom: 0;
}
